@media (min-width: 1025px) {
  .container {
    display: flex;
    min-height: 100vh;
    overflow-y: auto;
    flex-wrap: wrap;
  }

  .logoContainer {
    width: 45%;
    background-color: #1e3432;
    overflow: hidden;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logoImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .signForm {
    overflow-y: auto;
    flex: 1;
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    margin: 2.5rem 2.5rem;
  }

  .submitButton {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    align-self: center;
    width: fit-content;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 0px;
    color: #ffffff;
    background-color: #1e3432;
    border: 2px solid #fac16a;
    padding: 0.5rem 2rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .submitButton:hover {
    background-color: #172625;
  }

  .backButton {
    color: #1e3432;
  }

  .closeButton {
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 1000;
    background: none;
    color: #000000;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: ease 0.3s;
  }

  .closeButton:hover {
    scale: 1.1;
  }

  .circleCheck {
    color: #1e3432;
  }

  .successMessage {
    color: #1e3432;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    display: flex;
    min-height: 100vh;
    overflow-y: auto;
    flex-wrap: wrap;
  }

  .logoContainer {
    width: 45%;
    background-color: #1e3432;
    overflow: hidden;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logoImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .signForm {
    overflow-y: auto;
    flex: 1;
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    margin: 2.5rem 2.5rem;
  }

  .submitButton {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    align-self: center;
    width: fit-content;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 0px;
    color: #ffffff;
    background-color: #1e3432;
    border: 2px solid #fac16a;
    padding: 0.5rem 2rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .submitButton:hover {
    background-color: #172625;
  }

  .backButton {
    color: #1e3432;
  }

  .closeButton {
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 1000;
    background: none;
    color: #000000;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: ease 0.3s;
  }

  .closeButton:hover {
    scale: 1.1;
  }
  .circleCheck {
    color: #1e3432;
  }

  .successMessage {
    color: #1e3432;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .container {
    min-height: 100vh;
    background-color: #1e3432;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .logoContainer {
    width: 100%;
    height: 100px;
    background-color: #1e3432;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding-inline: 30px;
  }

  .logoImage {
    align-self: center;
    width: 350px;
    height: 100px;
    object-fit: cover;
  }

  .signForm {
    overflow-y: auto;
    width: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
  }

  .submitButton {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    align-self: center;
    width: fit-content;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    background-color: #1e3432;
    border: 3px solid #fac16a;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .submitButton:hover {
    background-color: #172625;
  }

  .backButton {
    color: white;
  }

  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    background: none;
    color: #ffffff;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: ease 0.3s;
  }

  .closeButton:hover {
    scale: 1.1;
  }

  .circleCheck {
    color: #fac16a;
  }

  .successMessage {
    color: white;
  }
}

@media (max-width: 424px) {
  .container {
    min-height: 100vh;
    background-color: #1e3432;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .logoContainer {
    width: 100%;
    height: 100px;
    background-color: #1e3432;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding-inline: 30px;
  }

  .logoImage {
    align-self: center;
    width: 350px;
    height: 100px;
    object-fit: cover;
  }

  .signForm {
    overflow-y: auto;
    width: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
  }

  .submitButton {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    align-self: center;
    width: fit-content;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    background-color: #1e3432;
    border: 3px solid #fac16a;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .submitButton:hover {
    background-color: #172625;
  }

  .backButton {
    color: white;
  }

  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    background: none;
    color: #ffffff;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: ease 0.3s;
  }

  .closeButton:hover {
    scale: 1.1;
  }

  .circleCheck {
    color: #fac16a;
  }

  .successMessage {
    color: white;
  }
}
