@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
  margin: 0;
  /* Remove any default margin */
  padding: 0;
  /* Remove any default padding */
  overflow-x: hidden;
  /* Prevent horizontal scrolling */
}

html {
  scroll-padding-top: 5rem; /* Adjust this based on your navbar height */

  scroll-behavior: smooth !important;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "Sofia Pro ExtraLight";
  font-style: normal;
  font-weight: normal;
  src:
    local("Sofia Pro ExtraLight"),
    url("../../public/fonts/Sofia Pro ExtraLight Az.woff") format("woff");
}

@font-face {
  font-family: "Sofia Pro UltraLight";
  font-style: normal;
  font-weight: normal;
  src:
    local("Sofia Pro UltraLight"),
    url("../../public/fonts/Sofia Pro UltraLight Az.woff") format("woff");
}

@font-face {
  font-family: "Sofia Pro Light";
  font-style: normal;
  font-weight: normal;
  src:
    local("Sofia Pro Light"),
    url("../../public/fonts/Sofia Pro Light Az.woff") format("woff");
}

@font-face {
  font-family: "Sofia Pro Medium";
  font-style: normal;
  font-weight: normal;
  src:
    local("Sofia Pro Medium"),
    url("../../public/fonts/Sofia Pro Medium Az.woff") format("woff");
}

@font-face {
  font-family: "Sofia Pro SemiBold";
  font-style: normal;
  font-weight: normal;
  src:
    local("Sofia Pro SemiBold"),
    url("../../public/fonts/Sofia Pro Semi Bold Az.woff") format("woff");
}

@font-face {
  font-family: "Sofia Pro Bold";
  font-style: normal;
  font-weight: normal;
  src:
    local("Sofia Pro Bold"),
    url("../../public/fonts/Sofia Pro Bold Az.woff") format("woff");
}

@font-face {
  font-family: "Sofia Pro Regular";
  font-style: normal;
  font-weight: normal;
  src:
    local("Sofia Pro Regular"),
    url("../../public/fonts/Sofia Pro Regular Az.woff") format("woff");
}

@font-face {
  font-family: "Sofia Pro ExtraLight";
  font-style: normal;
  font-weight: normal;
  src:
    local("Sofia Pro ExtraLight"),
    url("../../public/fonts/Sofia Pro ExtraLight Az.woff") format("woff");
}

@font-face {
  font-family: "Sofia Pro UltraLight";
  font-style: normal;
  font-weight: normal;
  src:
    local("Sofia Pro UltraLight"),
    url("../../public/fonts/Sofia Pro UltraLight Az.woff") format("woff");
}

@font-face {
  font-family: "Sofia Pro Light";
  font-style: normal;
  font-weight: normal;
  src:
    local("Sofia Pro Light"),
    url("../../public/fonts/Sofia Pro Light Az.woff") format("woff");
}

@font-face {
  font-family: "Sofia Pro Medium";
  font-style: normal;
  font-weight: normal;
  src:
    local("Sofia Pro Medium"),
    url("../../public/fonts/Sofia Pro Medium Az.woff") format("woff");
}

@font-face {
  font-family: "Sofia Pro SemiBold";
  font-style: normal;
  font-weight: normal;
  src:
    local("Sofia Pro SemiBold"),
    url("../../public/fonts/Sofia Pro Semi Bold Az.woff") format("woff");
}

@font-face {
  font-family: "Sofia Pro Bold";
  font-style: normal;
  font-weight: normal;
  src:
    local("Sofia Pro Bold"),
    url("../../public/fonts/Sofia Pro Bold Az.woff") format("woff");
}

.btn {
  --c1: #fff;
  --c2: #fda085;
  text-transform: uppercase;
  transition: 1s;
  background: linear-gradient(
      90deg,
      var(--c1, #f6d365),
      var(--c2, #fda085) 51%,
      var(--c2, #f6d365)
    )
    var(--x, 0) / 200%;
  --x: 100%;
}

.btn:hover {
  --x: 0%;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.spinner {
  width: 80px;
  height: 80px;
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top: 8px solid #3a4a47;
  border-radius: 50%;
  animation: spin 3s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-container p {
  font-size: 16px;
  margin-top: 10px;
  color: #555;
}
