@media (min-width: 862px) {
  .inputGroup {
    margin-bottom: 1rem;
  }

  .inputLabel {
    margin-top: 1rem;
    font-family: "Sofia Pro Light";
    font-size: 31.2px;
    font-weight: 300;
    line-height: 31.2px;
    text-align: left;
    color: #000000;
    display: block;
    margin-bottom: 0.5rem;
  }

  .inputField {
    border: 1.3px solid #1e343233;
    font-family: "Sofia Pro Light";
    width: 100%;
    height: 60px;
    padding: 0.5rem 0.75rem;
    font-size: 1.5rem;
    color: #4a5568;
    outline: none;
    transition:
      border-color 0.2s ease,
      box-shadow 0.2s ease;
  }

  .inputField::placeholder {
    color: #9f9f9f;
    text-align: left;
    font-size: 1.5rem;
    font-family: "Sofia Pro Light";
  }

  .inputField:focus {
    box-shadow: 0 0 0 2px #1e3432;
  }
}

@media (max-width: 862px) {
  .inputGroup {
    width: 100%;
    margin-bottom: 1rem;
  }

  .inputLabel {
    margin-top: 1rem;
    font-family: "Sofia Pro Light";
    font-size: 25px;
    font-weight: 300;
    line-height: 31.2px;
    text-align: left;
    color: #ffffff;
    display: block;
    margin-bottom: 0.5rem;
  }

  .inputField {
    border: 1.3px solid #1e343233;
    border-radius: 5px;
    width: 100%;
    height: 60px;
    padding: 0.5rem 0.75rem;
    font-size: 1.5rem;
    font-family: "Sofia Pro Light";
    color: #4a5568;
    outline: none;
    transition:
      border-color 0.2s ease,
      box-shadow 0.2s ease;
  }

  .inputField::placeholder {
    color: #9f9f9f;
    text-align: left;
    font-family: "Sofia Pro Light";
    font-size: 1.5rem;
  }

  .inputField:focus {
    box-shadow: 0 0 0 2px #1e3432;
  }
}
