@media (min-width: 1025px) {
  .inputLabel {
    margin-top: 1rem;
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 1.75rem;
    text-align: left;
    color: #000000;
    display: block;
    margin-bottom: 0.5rem;
  }

  .inputField {
    border: 1.3px solid #1e343233;
    width: 100%;
    height: 60px;
    padding: 0.5rem 0.75rem;
    font-size: 1.5rem;
    color: #000000;
    outline: none;
    transition:
      border-color 0.2s ease,
      box-shadow 0.2s ease;
  }

  .inputField::placeholder {
    color: #9f9f9f;
    text-align: left;
    font-size: 1.5rem;
  }

  .inputField:focus {
    box-shadow: 0 0 0 2px #1e3432;
  }

  .formTitle {
    margin-top: 30px;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
  }

  .verificationCodeTitle {
    margin-top: 50px;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    color: #000000;
    margin-bottom: 10px;
  }

  .verificationCodePara {
    margin-top: 2rem;
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 1.75rem;
    text-align: left;
    color: #000000;
    display: block;
    margin-bottom: 1rem;
  }

  .submitButton {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    align-self: center;
    width: fit-content;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 0px;
    color: #ffffff;
    background-color: #1e3432;
    border: 2px solid #fac16a;
    padding: 0.5rem 2rem;
    transition: background-color 0.2s ease;
  }

  .submitButton:hover {
    background-color: #172625;
  }

  .submitButton:disabled {
    background-color: #1e3432;
    cursor: not-allowed;
    opacity: 0.6;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .inputLabel {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5rem;
    text-align: left;
    color: #000000;
    display: block;
    margin-bottom: 0.5rem;
  }

  .inputField {
    border: 1.3px solid #1e343233;
    width: 100%;
    height: 60px;
    padding: 0.5rem 0.75rem;
    font-size: 1.25rem;
    color: #000000;
    outline: none;
    transition:
      border-color 0.2s ease,
      box-shadow 0.2s ease;
  }

  .inputField::placeholder {
    color: #9f9f9f;
    text-align: left;
    font-size: 1.25rem;
  }

  .inputField:focus {
    box-shadow: 0 0 0 2px #1e3432;
  }

  .formTitle {
    margin-top: 30px;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2rem;
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
  }

  .verificationCodeTitle {
    margin-top: 50px;
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 2.25rem;
    text-align: center;
    color: #000000;
    margin-bottom: 10px;
  }

  .verificationCodePara {
    margin-top: 2rem;
    font-size: 1.45rem;
    font-weight: 300;
    line-height: 1.45rem;
    text-align: left;
    color: #000000;
    display: block;
    margin-bottom: 1rem;
  }

  .submitButton {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    align-self: center;
    width: fit-content;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 0px;
    color: #ffffff;
    background-color: #1e3432;
    border: 2px solid #fac16a;
    padding: 0.5rem 2rem;
    transition: background-color 0.2s ease;
  }

  .submitButton:hover {
    background-color: #172625;
  }

  .submitButton:disabled {
    background-color: #1e3432;
    cursor: not-allowed;
    opacity: 0.6;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .inputLabel {
    margin-top: 1rem;
    font-size: 25px;
    font-weight: 300;
    line-height: 31.2px;
    text-align: left;
    color: #ffffff;
    display: block;
    margin-bottom: 0.5rem;
  }

  .inputField {
    border: 1.3px solid #1e343233;
    border-radius: 5px;
    width: 100%;
    height: 60px;
    padding: 0.5rem 0.75rem;
    font-size: 1.5rem;
    color: #000000;
    outline: none;
    transition:
      border-color 0.2s ease,
      box-shadow 0.2s ease;
  }

  .inputField::placeholder {
    color: #9f9f9f;
    text-align: left;
    font-size: 1.5rem;
  }

  .inputField:focus {
    box-shadow: 0 0 0 2px #1e3432;
  }

  .formTitle {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2rem;
    text-align: center;
    color: #ffffff;
    margin-bottom: 40px;
  }

  .verificationCodeTitle {
    margin-top: 10px;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
  }

  .verificationCodePara {
    margin-top: 0.5rem;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.25rem;
    text-align: left;
    color: #ffffff;
    display: block;
    margin-bottom: 1rem;
  }

  .submitButton {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    align-self: center;
    width: fit-content;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    background-color: #1e3432;
    border: 3px solid #fac16a;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .submitButton:hover {
    background-color: #172625;
  }
  .submitButton:disabled {
    background-color: #1e3432;
    cursor: not-allowed;
    opacity: 0.6;
  }
}

@media (max-width: 424px) {
  .inputLabel {
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.25rem;
    text-align: left;
    color: #ffffff;
    display: block;
    margin-bottom: 0.5rem;
  }

  .inputField {
    border: 1.3px solid #1e343233;
    border-radius: 5px;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    color: #000000;
    outline: none;
    transition:
      border-color 0.2s ease,
      box-shadow 0.2s ease;
  }

  .inputField::placeholder {
    color: #9f9f9f;
    text-align: left;
    font-size: 1rem;
  }

  .inputField:focus {
    box-shadow: 0 0 0 2px #fac16a;
  }

  .formTitle {
    margin-top: 10px;
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.75rem;
    text-align: center;
    color: #ffffff;
    margin-bottom: 40px;
  }

  .verificationCodeTitle {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2rem;
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
  }

  .verificationCodePara {
    margin-top: 0.5rem;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.25rem;
    text-align: left;
    color: #ffffff;
    display: block;
    margin-bottom: 1rem;
  }

  .submitButton {
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    align-self: center;
    width: fit-content;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    background-color: #1e3432;
    border: 3px solid #fac16a;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .submitButton:hover {
    background-color: #172625;
  }
  .submitButton:disabled {
    background-color: #1e3432;
    cursor: not-allowed;
    opacity: 0.6;
  }
}
