@media (min-width: 862px) {
  .container {
    display: flex;
    min-height: 100vh;
    overflow-y: auto;
    flex-wrap: wrap;
  }

  .logoContainer {
    width: 45%;
    background-color: #1e3432;
    overflow: hidden;
    padding: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logoImage {
    width: 500px;
    height: 500px;
  }

  .signForm {
    overflow-y: auto;
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    margin: 2.5rem 2.5rem;
  }

  .welcomeTitle {
    font-family: "Sofia Pro Regular";
    font-size: 60px;
    font-weight: 500;
    line-height: 60px;
    text-align: center;
    color: #000000;
  }

  .loginTitle {
    font-family: "Sofia Pro Regular";
    margin-top: 40px;
    font-size: 45px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    color: #000000;
    margin-bottom: 40px;
  }

  .submitButton {
    font-size: 25px;
    font-family: "Sofia Pro Regular";
    text-align: center;
    align-self: center;
    width: fit-content;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #ffffff;
    background-color: #1e3432;
    border: 2px solid #fac16a;
    padding: 0.5rem 2rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .submitButton:hover {
    background-color: #172625;
  }

  .forgotPasswordText {
    margin-top: 10px;
    margin-bottom: 1px;
    font-family: "Sofia Pro Light";
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    text-align: center;
    align-self: center;
    color: #000000;
  }

  .signUpText {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 3px;
    font-family: "Sofia Pro Light";
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    align-self: center;
    color: #000000;
  }

  .signUpRedirect {
    text-decoration: underline;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 3px;
    font-family: "Sofia Pro Light";
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    align-self: center;
    color: #1e3432;
  }

  .closeButton {
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 1000;
    background: none;
    color: #000000;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: ease 0.3s;
  }

  .closeButton:hover {
    scale: 1.1;
  }
}

@media (max-width: 862px) {
  .container {
    min-height: 100vh;
    background-color: #1e3432;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .logoContainer {
    width: 100%;
    height: 128px;
    background-color: #1e3432;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
  }

  .logoImage {
    align-self: center;
    width: 400px;
    height: 128px;
    object-fit: cover;
  }

  .signForm {
    overflow-y: auto;
    width: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
  }

  .welcomeTitle {
    display: none;
    font-size: 50px;
    font-family: "Sofia Pro Regular";
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 1rem;
  }

  .loginTitle {
    margin-top: 40px;
    font-family: "Sofia Pro Regular";
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 40px;
  }

  .submitButton {
    font-size: 25px;
    font-weight: 400;
    font-family: "Sofia Pro Regular";
    text-align: center;
    align-self: center;
    width: fit-content;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #ffffff;
    background-color: #1e3432;
    border: 3px solid #fac16a;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .submitButton:hover {
    background-color: #000000;
  }

  .forgotPasswordText {
    margin-top: 4px;
    margin-bottom: 1px;
    font-family: "Sofia Pro Light";
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    text-align: center;
    align-self: center;
    color: #ffffff;
  }

  .signUpText {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 3px;
    font-family: "Sofia Pro Light";
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    align-self: center;
    color: #ffffff;
  }

  .signUpRedirect {
    color: #fac16a;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 3px;
    font-family: "Sofia Pro Light";
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    align-self: center;
  }

  .closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    background: none;
    color: #ffffff;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: ease 0.3s;
  }

  .closeButton:hover {
    scale: 1.1;
  }
}
