@media (min-width: 862px) {
  .container {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    font-family: "Sofia Pro Regular";
  }

  .logoContainer {
    width: 45%;
    background-color: #1e3432;
    padding: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logoImage {
    width: 500px;
    height: 500px;
  }

  .signForm {
    flex: 1;
    overflow-y: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    margin: 2.5rem 2.5rem;
  }

  .signUpText {
    margin-bottom: 0px;
    margin-top: 10px;
    margin-right: 3px;
    font-family: "Sofia Pro Light";
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    align-self: center;
    color: #000000;
  }

  .signInRedirect {
    text-decoration: underline;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-right: 3px;
    font-family: "Sofia Pro Light";
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    align-self: center;
    color: #1e3432;
  }

  .resendButton {
    cursor: pointer;
    align-self: flex-start;
    color: #1e3432;
    font-family: "Sofia Pro Light";
    text-decoration: underline;
    font-weight: bold;
  }

  .closeButton {
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 1000;
    background: none;
    color: #000000;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: ease 0.3s;
  }

  .closeButton:hover {
    scale: 1.1;
  }
}

@media (max-width: 862px) {
  .container {
    min-height: 100vh;
    background-color: #1e3432;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: "Sofia Pro Regular";
  }

  .logoContainer {
    width: 100%;
    height: 128px;
    background-color: #1e3432;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
  }

  .logoImage {
    align-self: center;
    width: 400px;
    height: 128px;
    object-fit: cover;
  }

  .signForm {
    overflow-y: auto;
    width: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
  }

  .signUpText {
    margin-bottom: 0px;
    margin-top: 10px;
    margin-right: 3px;
    font-family: "Sofia Pro Light";
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    align-self: center;
    color: #ffffff;
  }

  .signInRedirect {
    margin-bottom: 0px;
    margin-top: 10px;
    margin-right: 3px;
    font-family: "Sofia Pro Light";
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    align-self: center;
    color: #fac16a;
  }

  .resendButton {
    cursor: pointer;
    color: #ffffff;
    font-family: "Sofia Pro Light";
    text-decoration: underline;
    font-weight: bold;
  }

  .closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    background: none;
    color: #ffffff;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: ease 0.3s;
  }

  .closeButton:hover {
    scale: 1.1;
  }
}
